@import url("https: //fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,100&display=swap");


:root{
    --darkgray:#0D0A0B;
    --gray:#454955;
    --light-gray: #F3EFF5;
    --apple-green: #72B01D;
    --office-green: #3F7D20;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
    border: none;
}



html,body{
    height:100%;
    background-color:var(--darkgray);

}


.grid{
    display:grid;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: 50px,repeat(3,80px)60px;

}

.grid div{
    background-color:#3F7D20;
    margin:10px;
}